# Lab

In [1]:
from recsys.core.services.io import IOService
import pandas as pd

In [2]:
FILEPATH = "data/sources/movielens25m/raw/ml-25m/ratings.csv"
ratings = IOService.read(FILEPATH)

In [3]:
ratings.head()
ratings.info()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [4]:
FILEPATH = "data/sources/movielens25m/raw/ml-25m/ratings.pkl"
IOService.write(filepath=FILEPATH, data=ratings)
r = IOService.read(FILEPATH)

In [5]:
r.head()
r.info()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB